body {
  background-color: #1e1e1e;
  color: #fff;
}

.container {
  max-width: 350px;
  margin: 20px auto;
  padding: 20px;
  border: 2px solid #555;
  border-radius: 10px;
  background-color: #333;
}

h1 {
  color: #fff;
}

form {
  margin-bottom: 20px;
}

input[type="text"] {
  background-color: #444;
  color: #fff;
  border: none;
  padding: 8px 12px;
  border-radius: 4px;
  margin-right: 10px;
}

input[type="text"]::placeholder {
  color: #999;
}

button {
  background-color: #555;
  color: #fff;
  border: none;
  padding: 8px 12px;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #666;
}

p {
  margin: 10px 0;
}

.loading {
  color: #ccc;
}

.error {
  color: #ff5252;
}

.weather-details {
  background-color: #444;
  padding: 20px;
  border-radius: 4px;
  margin-top: 20px;
}

.weather-details p {
  margin: 10px 0;
}

.weather-details h2 {
  margin-top: 0;
}
